<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button slot="start" defaultHref="/pizzas"></ion-back-button>
      <ion-title>Detalle del viaje</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="viaje">
   
    <ion-card-header>
      <ion-card-title>{{ viaje.direccion }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col>Nombre:</ion-col>
        <ion-col size="auto">{{ viaje.direccion }}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Horario:</ion-col>
        <ion-col size="auto">{{ viaje.hora }}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Asientos disponibles:</ion-col>
        <ion-col size="auto">{{ viaje.cupos }}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="auto">
          <ion-row *ngFor="let aux of listaDes">
            <ion-col>Tipo:</ion-col>
            <ion-col size="auto">{{ aux.descripcion }}</ion-col>
            <ion-col size="auto">Comuna:</ion-col>
            <ion-col>{{ aux.comuna }}</ion-col>
            <ion-col size="auto" *ngIf="aux.horariosalida">Horario de salida:</ion-col>
            <ion-col *ngIf="aux.horariosalida">{{ aux.horariosalida }}</ion-col>
            <ion-col size="auto" *ngIf="aux.asientos"> Asientos disponibles:</ion-col>
            <ion-col *ngIf="aux.asientos">{{ aux.asientos }}</ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-button> Tomar viaje </ion-button>
      </ion-row>
    </ion-card-content>
    
  </ion-card>
</ion-content>
